body {
    font-family: Arial, sans-serif;
}

#sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

#sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

#sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

#sidebar .nav-link.active {
    color: #007bff;
}

#sidebar .nav-link:hover .feather,
#sidebar .nav-link.active .feather {
    color: inherit;
}

#sidebar .nav-link.active {
    font-weight: 700;
}

#sidebar .nav-item + .nav-item {
    margin-top: 1rem;
}
